#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

body, html{
	text-align: center;
	font-size: 90px;
	font-family: tahoma;
	height: 100%;
	/*background: linear-gradient(315deg, #723362, #9d223c);*/
	overflow: hidden;
	color: white; 
}

.introPhrase{
	position: relative;
	top: calc(30% - 60px);
	/*text-shadow: 0 0 3px white;*/
	color: black;
	font-size: 50px;
	font-family: 'Coming Soon', cursive;
	text-shadow: 0px 4px 3px white;
}

.subintroPhrase{
	position: relative;
	top: calc(30% - 30px);
	/*text-shadow: 0 0 3px white;*/
	color: black;
	font-size: 50px;
	font-family: 'Coming Soon', cursive;
	text-shadow: 0px 4px 3px white;
}

.subSubintroPhrase{
	position: relative;
	top: calc(30% - 10px);
	/*text-shadow: 0 0 3px white;*/
	color: black;
	font-size: 30px;
	font-family: 'Coming Soon', cursive;
	text-shadow: 0px 4px 3px white;
}

#noCenter{
	text-align: left;
}

.resumeButton{
	position: relative;
	top: calc(30%);
	/*text-shadow: 0 0 3px white;*/
	color: white;
}

#resume{
	position: relative;
	/*top: calc(50% - 130px);*/
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	background-color: #778899;
	border-color: #778899;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

#resume:hover{
	/*background-color: #191970;*/
	background-color: #4169E1;
	color: white;
}
