body {
  color: black;
/*   background: honeydew; */
  background-image:url('/sfnight.gif');
  background-size:100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height:100%;
  width:100%;
  margin: 0;
  padding-left: 10px;
  max-width: 700px;
}

.headshot-size {
  height: 200px;
  width: auto;
}

.box {
  border: solid 1px gray;
  background: #efefef;
  padding: 0.1em 1em 0.1em 1em;
  display:table;
  font-size:20px;
  font-weight: bold;
}
